@import "tailwindcss";

body {
  @apply bg-[#f5f5f5] dark:bg-neutral-900 text-black text-sm min-h-screen;
}

@theme {
  --shadow-overlay: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);
}

/* no scrollbar */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
