@import "tailwindcss";

@theme {
  --font-sans: "Infinity Sans", system-ui, sans-serif;
}

html {
  @apply overflow-y-scroll;
}

body {
  @apply bg-[#f5f5f5] text-black text-sm min-h-screen font-sans;
}

button {
  @apply cursor-pointer;
}

::-webkit-scrollbar {
  color-scheme: light;
}

@theme {
  --shadow-overlay: 0px 2px 14px 0px rgba(0, 0, 0, 0.2);

  --header-height: 56px;
}

.dynamic-shadow-dom {
  --dynamic-font-family-primary: "Infinity Sans", sans-serif;
}

/* no scrollbar */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
